<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>{{title}} | Фильмы</title>

    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link href="../static/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Loading main css file -->
    <link rel="stylesheet" href="../static/main.css">

    <!--[if lt IE 9]>
    <script src="../static/js/ie-support/html5.js"></script>
    <script src="../static/js/ie-support/respond.js"></script>
    <![endif]-->

</head>


<body>


<div id="site-content">
    <header class="site-header">
        <div class="container">
            <a href="/" id="branding">
                <img src="../static/images/logo.png" alt="" class="logo">
                <div class="logo-copy">
                    <h1 class="site-title">{{title}}</h1>
                    <small class="site-description">by 231-363/364</small>
                </div>
            </a> <!-- #branding -->

            <div class="main-navigation">
                <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                <ul class="menu">
                    <li class="menu-item"><a href="/">Главная</a></li>
                    <li class="menu-item"><a href="/about">О нас</a></li>
                    <li class="menu-item current-menu-item"><a href="/review">Фильмы</a></li>
                    <li class="menu-item"><a href="/joinus">Присоединится к нам</a></li>
                    <li class="menu-item"><a href="/contact">Контакты</a></li>
                </ul> <!-- .menu -->

                <form action="#" class="search-form">
                    <input type="text" placeholder="Search...">
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div> <!-- .main-navigation -->

            <div class="mobile-navigation"></div>
        </div>
    </header>
    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="breadcrumbs">
                    <a href="/">Главная</a>
                    <span>Фильмы</span>
                </div>

                <div class="filters">
                    <select name="genre" id="genre" placeholder="Выбери жанр" onchange="movies_f()">
                        <option value="any">----</option>
                        {% for genre in genres %}
                        {% if genre.name == user_genre %}
                        <option value="{{genre.name}}" selected>{{genre.name}}</option>
                        {% else %}
                        <option value="{{genre.name}}">{{genre.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <select name="country" id="country" placeholder="Выбери страну" onchange="movies_f()">
                        <option value="any">----</option>
                        {% for country in countries %}
                        {% if country != "No data" %}
                        {% if country == user_country %}
                        <option value="{{country}}" selected>{{country}}</option>
                        {% else %}
                        <option value="{{country}}">{{country}}</option>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="movie-list">
                    {% for movie in movies%}
                    <div class="movie">
                        <figure class="movie-poster"><img src="{{movie.poster}}" alt="#"></figure>
                        <div class="movie-title"><a href="/single/{{movie.kinopoisk_id}}">{{movie.name}}</a></div>
                        <p>{{movie.description}}</p>
                    </div>
                    {% endfor %}
                </div> <!-- .movie-list -->

						<div class="pagination">
							<a href="#" class="page-number prev"><i class="fa fa-angle-left"></i></a>
<!--							<span class="page-number current">1</span>-->
							<a href="/review/?genre={{user_genre}}&country={{user_country}}&page={{0}}" class="page-number current">1</a>
                            <a onclick="movies_f(1)" class="page-number">2</a>
							<a onclick="movies_f(2)" class="page-number">3</a>
							<a onclick="movies_f(3)" class="page-number">4</a>
							<a onclick="movies_f(4)" class="page-number">5</a>
							<a  class="page-number next"><i class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div> <!-- .container -->
			</main>
			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">About Us</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tempore vitae mollitia nesciunt saepe cupiditate</p>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Recent Review</h3>
								<ul class="no-bullet">
									<li>Lorem ipsum dolor</li>
									<li>Sit amet consecture</li>
									<li>Dolorem respequem</li>
									<li>Invenore veritae</li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Help Center</h3>
								<ul class="no-bullet">
									<li>Lorem ipsum dolor</li>
									<li>Sit amet consecture</li>
									<li>Dolorem respequem</li>
									<li>Invenore veritae</li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Join Us</h3>
								<ul class="no-bullet">
									<li>Lorem ipsum dolor</li>
									<li>Sit amet consecture</li>
									<li>Dolorem respequem</li>
									<li>Invenore veritae</li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Social Media</h3>
								<ul class="no-bullet">
									<li>Facebook</li>
									<li>Twitter</li>
									<li>Google+</li>
									<li>Pinterest</li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Newsletter</h3>
								<form action="#" class="subscribe-form">
									<input type="text" placeholder="Email Address">
								</form>
							</div>
						</div>
					</div> <!-- .row -->

            <div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
        </div> <!-- .container -->

    </footer>
</div>
<!-- Default snippet for navigation -->


<script src="../static/js/jquery-1.11.1.min.js"></script>
<script src="../static/js/plugins.js"></script>
<script src="../static/js/app.js"></script>
<script src="../static/js/script.js"></script>

</body>

</html>