<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>{{title}} | {{movie.name}}</title>

    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link href="../static/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Loading main css file -->
    <link rel="stylesheet" href="../static/main.css">

    <!--[if lt IE 9]>
    <script src="../static/js/ie-support/html5.js"></script>
    <script src="../static/js/ie-support/respond.js"></script>
    <![endif]-->
<script>
   document.addEventListener('DOMContentLoaded', () => {
  const ratingComponents = document.querySelectorAll('.movie-rating');

  ratingComponents.forEach((ratingComponent) => {
    initRatingComponent(ratingComponent);
  });
});

function initRatingComponent(ratingComponent) {
  const stars = ratingComponent.querySelectorAll('.star');
  const ratingValueElement = ratingComponent.querySelector('.rating-value span');

  let selectedRating = 0;

  stars.forEach((star, index) => {
    star.addEventListener('click', () => {
      selectedRating = index + 1;
      updateStars(stars, selectedRating, ratingValueElement);
    });
  });
}

function updateStars(stars, selectedRating, ratingValueElement) {
  stars.forEach((star, index) => {
    if (index < selectedRating) {
      star.classList.add('active');
    } else {
      star.classList.remove('active');
    }
  });
  ratingValueElement.textContent = `${selectedRating}/10`;
}
</script>
</head>


<body>

<div id="site-content">
    <header class="site-header">
        <div class="container">
            <a href="/" id="branding">
                <img src="../static/images/logo.png" alt="" class="logo">
                <div class="logo-copy">
                    <h1 class="site-title">{{title}}</h1>
                    <small class="site-description">by 231-363/364</small>
                </div>
            </a> <!-- #branding -->

            <div class="main-navigation">
                <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                <ul class="menu">
                    <li class="menu-item"><a href="/">Главная</a></li>
                    <li class="menu-item"><a href="/about">О нас</a></li>
                    <li class="menu-item"><a href="/review">Фильмы</a></li>
                    <li class="menu-item"><a href="/joinus">Присоединится к нам</a></li>
                    <li class="menu-item"><a href="/contact">Контакты</a></li>
                </ul> <!-- .menu -->

                <form action="#" class="search-form">
                    <input type="text" placeholder="Поиск...">
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div> <!-- .main-navigation -->

            <div class="mobile-navigation"></div>
        </div>
    </header>

    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="breadcrumbs">
                    <a href="/">Главная</a>
                    <a href="/review">Фильмы</a>
                    <span>{{movie.name}}</span>
                </div>

                <div class="content">
                    <div class="row">
                        <div class="col-md-6">
                            <figure class="movie-poster"><img src="{{movie.poster}}" width="100%"></figure>
                        </div>
                        <div class="col-md-6">
                            <h2 class="movie-title">{{movie.name}}</h2>
                            <div class="movie-summary">
                                <p>{{movie.description}}</p>
                            </div>
                            <ul class="movie-meta">
                                <li><strong>Рейтинг:</strong>
                                    <div class="star-rating" title="Rated 4.00 out of 5"><span style="width:80%"><strong
                                            class="rating">4.00</strong> из 5</span></div>
                                </li>
                                <li><strong>Длительность:</strong> {{movie.duration}} min</li>
                                <li><strong>Год:</strong> {{movie.year}}</li>
                                <li><strong>Жанры:</strong> {{genres}}</li>
                                {%if movie.rate != 100%}
                                <li><strong>Режиссеры:</strong> {{directors}}</li>
                                <li><strong>Актеры:</strong> {{actors}}</li>
                                <li><strong>Возрастной рейтинг: </strong>{{movie.rate}}+</li>
                                {%endif%}
                            </ul>
                        </div>
                    </div> <!-- .row -->
                    <div class="form">
                        <form action="/single/new_review" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Submit</button>
                            {{form.errors}
                        </form>
                    </div>

                    <div class="reviews">
                        {%for review in reviews%}
                        <p>{{review.comments}}</p><br>
                        {% endfor %}
                    </div>
                    <br>
                    <div>
                        <h2 class="movie-title">Оцените фильм</h2>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="movie-title">Актёрская игра</h3>
                <div class="movie-rating">
                    <div class="rating-stars">
                        <span class="star" data-value="1"></span>
                        <span class="star" data-value="2"></span>
                        <span class="star" data-value="3"></span>
                        <span class="star" data-value="4"></span>
                        <span class="star" data-value="5"></span>
                        <span class="star" data-value="6"></span>
                        <span class="star" data-value="7"></span>
                        <span class="star" data-value="8"></span>
                        <span class="star" data-value="9"></span>
                        <span class="star" data-value="10"></span>
                    </div>
                    <div class="rating-value">
                        <span id="current-rating1">0</span>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="movie-title">Сюжет</h3>
                <div class="movie-rating">
                    <div class="rating-stars">
                        <span class="star" data-value="1"></span>
                        <span class="star" data-value="2"></span>
                        <span class="star" data-value="3"></span>
                        <span class="star" data-value="4"></span>
                        <span class="star" data-value="5"></span>
                        <span class="star" data-value="6"></span>
                        <span class="star" data-value="7"></span>
                        <span class="star" data-value="8"></span>
                        <span class="star" data-value="9"></span>
                        <span class="star" data-value="10"></span>
                    </div>
                    <div class="rating-value">
                        <span id="current-rating2">0</span>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="movie-title">Музыка</h3>
                <div class="movie-rating">
                    <div class="rating-stars">
                        <span class="star" data-value="1"></span>
                        <span class="star" data-value="2"></span>
                        <span class="star" data-value="3"></span>
                        <span class="star" data-value="4"></span>
                        <span class="star" data-value="5"></span>
                        <span class="star" data-value="6"></span>
                        <span class="star" data-value="7"></span>
                        <span class="star" data-value="8"></span>
                        <span class="star" data-value="9"></span>
                        <span class="star" data-value="10"></span>
                    </div>
                    <div class="rating-value">
                        <span id="current-rating3">0</span>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="movie-title">Операторская работа</h3>
                <div class="movie-rating">
                    <div class="rating-stars">
                        <span class="star" data-value="1"></span>
                        <span class="star" data-value="2"></span>
                        <span class="star" data-value="3"></span>
                        <span class="star" data-value="4"></span>
                        <span class="star" data-value="5"></span>
                        <span class="star" data-value="6"></span>
                        <span class="star" data-value="7"></span>
                        <span class="star" data-value="8"></span>
                        <span class="star" data-value="9"></span>
                        <span class="star" data-value="10"></span>
                    </div>
                    <div class="rating-value">
                        <span id="current-rating4">0</span>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="movie-title">Визуальные эффекты</h3>
                <div class="movie-rating">
                    <div class="rating-stars">
                        <span class="star" data-value="1"></span>
                        <span class="star" data-value="2"></span>
                        <span class="star" data-value="3"></span>
                        <span class="star" data-value="4"></span>
                        <span class="star" data-value="5"></span>
                        <span class="star" data-value="6"></span>
                        <span class="star" data-value="7"></span>
                        <span class="star" data-value="8"></span>
                        <span class="star" data-value="9"></span>
                        <span class="star" data-value="10"></span>
                    </div>
                    <div class="rating-value">
                        <span id="current-rating5">0</span>
                    </div>
                </div>
            </div>


        </div> <!-- .container -->
    </main>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">О нас</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tempore vitae mollitia
                            nesciunt saepe cupiditate</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Последние ревью</h3>
                        <ul class="no-bullet">
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Sit amet consecture</a></li>
                            <li><a href="#">Dolorem respequem</a></li>
                            <li><a href="#">Invenore veritae</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Служба поддержки</h3>
                        <ul class="no-bullet">
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Sit amet consecture</a></li>
                            <li><a href="#">Dolorem respequem</a></li>
                            <li><a href="#">Invenore veritae</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Присоединится к нам</h3>
                        <ul class="no-bullet">
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Sit amet consecture</a></li>
                            <li><a href="#">Dolorem respequem</a></li>
                            <li><a href="#">Invenore veritae</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Медиа</h3>
                        <ul class="no-bullet">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Google+</a></li>
                            <li><a href="#">Pinterest</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Новости</h3>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Email Address">
                        </form>
                    </div>
                </div>
            </div> <!-- .row -->

            <div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
        </div> <!-- .container -->

    </footer>
</div>
<!-- Default snippet for navigation -->


<script src="../static/js/jquery-1.11.1.min.js"></script>
<script src="../static/js/plugins.js"></script>
<script src="../static/js/app.js"></script>

</body>

</html>